@import '@/assets/colors.scss';
@import '@/assets/fonts.scss';

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: $main;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-color-main {
  background-color: $main;
}

.bg-color-accent {
  background-color: $accent;
}

.bg-color-complement {
  background-color: $complement;
}

.color-main {
  color: $main;
}

.color-accent {
  color: $accent;
}

.color-complement {
  color: $complement;
}