@import '@/assets/colors.scss';

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: $brown;
}

a {
  text-decoration: none;
  color: inherit;
}